In [88]:
import pandas as pd

"""
TODO: 

Executable met interface van maken?

"""

global df
df = pd.read_excel('origineel\\Ledenbestand.xlsx')


def export_vrouwen():
    """
    Simpele versie van export_gegevens_logic_test.
    :return:
    """
    voornaam, tussenvoegsel, achternaam, straat, huisnummer, postcode, woonplaats = [], [], [], [], [], [], []
    for i in range(len(df)):
        if df['Vrouw'].iloc[i]:
            voornaam.append(df['voornaam'].iloc[i])
            tussenvoegsel.append(df['tussenvoegsel'].iloc[i])
            achternaam.append(df['achternaam'].iloc[i])
            straat.append(df['straat'].iloc[i])
            huisnummer.append(df['huisnummer'].iloc[i])
            postcode.append(df['postcode'].iloc[i])
            woonplaats.append(df['woonplaats'].iloc[i])

    df_angfo = pd.DataFrame(voornaam, columns=['voornaam'])
    df_angfo['tussenvoegsel'] = pd.Series(tussenvoegsel, index=df_angfo.index)
    df_angfo['achternaam'] = pd.Series(achternaam, index=df_angfo.index)
    df_angfo['straat'] = pd.Series(straat, index=df_angfo.index)
    df_angfo['huisnummer'] = pd.Series(huisnummer, index=df_angfo.index)
    df_angfo['postcode'] = pd.Series(postcode, index=df_angfo.index)
    df_angfo['woonplaats'] = pd.Series(woonplaats, index=df_angfo.index)
    df_angfo.to_excel('output\\vrouwen_leden.xlsx', 'vrouwen_leden')


def export_gegevens(te_doorzoeken_kolom, is_gelijk_aan, exporteer_gegevens, bestandsnaam):
    """
    Dit is een algemene functie welke kijkt welke leden in het ingeladen ledenbestand voldoen aan de logic check.
    Wanneer het betreffende lid voldoet dan worden de gegevens zoals deze in de lijst 'kolomen' staan opgeslagen in een
    nieuw excel bestand.
    De tekst in 'logic_check' en 'kolomen' dienen exact overeen te komen met de betreffende kolomen in het originele
    excel bestand.
    
    Voorbeeld gebruik:
    #export_gegevens('Vrouw', True,
    #                ['voornaam', 'tussenvoegsel', 'achternaam', 'straat', 'huisnummer', 'postcode', 'woonplaats'],
    #                'output\\vrouwen_leden.xlsx')

    #export_gegevens('lid status', 'erelid',
    #                ['voornaam', 'tussenvoegsel', 'achternaam', 'straat', 'huisnummer', 'postcode', 'woonplaats', 'geboortedatum'],
    #                'output\\ere_leden.xlsx')
    
    :param logic_check: Een string van de naam van de header waar de logic_check op word uitgevoerd.
    :param gegevens: Een array met de namen van de headers welke geexporteerd dienen te worden
    :param bestandsnaam: De naam van het te exporteren bestand
    :return:
    """
    empt_lists = []
    # array met lege lijsten maken
    for n in range(len(exporteer_gegevens)):
        empt_lists.append([])

    # gegevens aan de gemaakte array toevoegen in de betreffende lijsten
    for i in range(len(df)):
        if df[te_doorzoeken_kolom].iloc[i] == is_gelijk_aan:
            for j in range(len(exporteer_gegevens)):
                empt_lists[j].append(df[exporteer_gegevens[j]].iloc[i])

    df_angfo = pd.DataFrame(empt_lists[0], columns=[exporteer_gegevens[0]])

    # geheel omzetten naar een pandas dataframe
    for k in range(len(exporteer_gegevens)):
        df_angfo[exporteer_gegevens[k]] = pd.Series(empt_lists[k], index=df_angfo.index)

    df_angfo.to_excel(bestandsnaam, 'Sheet1')
    print('Het bestand is opgeslagen als: %s' % bestandsnaam)

In [89]:
def nieuw_ledenbestand():
    """
    Per row in df loop schrijven die door gehele df_a gaat om op een match te controleren.

    TODO

    Zoek voornaam van df_a in df, noteer indices in lijst1 van df waar dit voorkomt.
    Zoek tussenvoegsel van df_a in df, noteer indices in lijst2 van df waar dit voorkomt.
    Zoek achterneem van df_a, noteer indices in lijst3 van df waar dit voorkomt.

    Bevatten de drie lijsten allemaal een keer hetzelfde getal (index waarde van df)?
    Zo ja, dan is er een match.
    :return:
    """
    """
    df_a = pd.read_excel('origineel\\Angfo.xlsx')
    df_a_naam = pd.DataFrame()
    global df
    df = df.fillna('')

    # (len(df_a['achternaam'].str.contains(df['achternaam'][i], na=False)) == 0)

    #  Arrays met complete namen maken
    naam_df = []
    naam_df_a = []
    for i in range(len(df)):
        naam_df.append(str(df['voornaam'][i])+' '+str(df['tussenvoegsel'][i])+' '+str(df['achternaam'][i]))
    for i in range(len(df_a)):
        naam_df_a.append(str(df_a['voornaam'][i])+' '+str(df_a['tussenvoegsel'][i])+' '+str(df_a['achternaam'][i]))

    df_namen = pd.DataFrame(naam_df, columns=['naam'])
    df_a_namen = pd.DataFrame(naam_df_a, columns=['naam'])

    x = df_a_namen['naam'].str.contains(df_namen['naam'][0])
    print(x)
    """

nieuw_ledenbestand()

In [90]:
a = pd.read_excel('origineel\\Ledenbestand.xlsx')
b = pd.read_excel('origineel\\Angfo.xlsx')

# df kopie maken
a_origineel = a.copy()
b_origineel = b.copy()

# drop columns, alleen gehele naam is nodig voor de check 
# ook wegens het risico dat kolomen andere data kunnen bevatten in beide frames
to_drop_a = a.columns.difference(['voornaam', 'achternaam', 'tussenvoegsel'])
a.drop(to_drop_a, 1, inplace=True)  # drop alle columns behalve degene in to_drop

to_drop_b = b.columns.difference(['voornaam', 'achternaam', 'tussenvoegsel'])
b.drop(to_drop_b, 1, inplace=True)  # drop alle columns behalve degene in to_drop

In [143]:
a.head()

     voornaam      achternaam tussenvoegsel
0  Jan Willem            Slob           NaN
1        Guus         Taminau           NaN
2         Jan       Gimmerink           NaN
3     Kenneth      Goodenough           NaN
4       Darcy  Da Costa Gomez           NaN

In [142]:
b.head()

     voornaam      achternaam tussenvoegsel
0  Jan Willem            Slob           NaN
1        Guus         Taminau           NaN
2         Jan       Gimmerink           NaN
3     Kenneth      Goodenough           NaN
4       Darcy  Da Costa Gomez           NaN

In [141]:
ij = []

# Skipt soms rows terwijl ze wel aan elkaar gelijk zijn? bvb: word niet true bij gelijk de eerste naam (Jan Willem Slob nan)

# Iterate over rows van a
for i in range(len(a)):
    # Iterate over rows van b
    for j in range(len(b)):
        # Controleer row in a overeenkomt met row uit b
        if a.iloc[i, 0] == b.iloc[j, 0] and a.iloc[i, 1] == b.iloc[j, 1] and a.iloc[i, 2] == b.iloc[j, 2]:
            #print(a.iloc[i,0],a.iloc[i,1],a.iloc[i,2], '-', b.iloc[j,0],b.iloc[j,1],b.iloc[j,2])
            ij.append(1) # De naam van a zit in b
            pass
        else:
            pass # Voeg toe aan c als wilt wel angfo ontvangen
    if 1 not in ij:
        print(i, j)
        print('Zit wel in a maar niet in b: ',a.iloc[i,0],a.iloc[i,1],a.iloc[i,2])
        # Voeg toe aan c als wilt geen angfo ontvangen
        
"""
TO DO:
Voeg ieder lid toe aan een nieuwe df (c) en geef aan of hij/zij wel/geen angfo wilt ontvangen (in een nieuwe kolom)
 
"""

0 389
Zit wel in a maar niet in b:  Jan Willem Slob nan
1 389
Zit wel in a maar niet in b:  Guus Taminau nan
2 389
Zit wel in a maar niet in b:  Jan Gimmerink nan
3 389
Zit wel in a maar niet in b:  Kenneth Goodenough nan
4 389
Zit wel in a maar niet in b:  Darcy Da Costa Gomez nan
5 389
Zit wel in a maar niet in b:  Junior Haynes nan
6 389
Zit wel in a maar niet in b:  Rembrandt Donkersloot nan
7 389
Zit wel in a maar niet in b:  Kevin Ravensberg nan

'\nTO DO:\nVoeg ieder lid toe aan een nieuwe df (c) en geef aan of hij/zij wel/geen angfo wilt ontvangen (in een nieuwe kolom)\n \n'

In [133]:
i = 0
j = 0
naam_a = a.iloc[i,0], a.iloc[i,1], a.iloc[i,2]
naam_b = b.iloc[j,0], b.iloc[j,1], b.iloc[j,2]

if naam_a == naam_b:
    print('true')
    
len(a)
len(b)

true

390