In [88]:
import pandas as pd

"""
TODO: 

Executable met interface van maken?

"""

global df
df = pd.read_excel('origineel\\Ledenbestand.xlsx')


def export_vrouwen():
    """
    Simpele versie van export_gegevens_logic_test.
    :return:
    """
    voornaam, tussenvoegsel, achternaam, straat, huisnummer, postcode, woonplaats = [], [], [], [], [], [], []
    for i in range(len(df)):
        if df['Vrouw'].iloc[i]:
            voornaam.append(df['voornaam'].iloc[i])
            tussenvoegsel.append(df['tussenvoegsel'].iloc[i])
            achternaam.append(df['achternaam'].iloc[i])
            straat.append(df['straat'].iloc[i])
            huisnummer.append(df['huisnummer'].iloc[i])
            postcode.append(df['postcode'].iloc[i])
            woonplaats.append(df['woonplaats'].iloc[i])

    df_angfo = pd.DataFrame(voornaam, columns=['voornaam'])
    df_angfo['tussenvoegsel'] = pd.Series(tussenvoegsel, index=df_angfo.index)
    df_angfo['achternaam'] = pd.Series(achternaam, index=df_angfo.index)
    df_angfo['straat'] = pd.Series(straat, index=df_angfo.index)
    df_angfo['huisnummer'] = pd.Series(huisnummer, index=df_angfo.index)
    df_angfo['postcode'] = pd.Series(postcode, index=df_angfo.index)
    df_angfo['woonplaats'] = pd.Series(woonplaats, index=df_angfo.index)
    df_angfo.to_excel('output\\vrouwen_leden.xlsx', 'vrouwen_leden')


def export_gegevens(te_doorzoeken_kolom, is_gelijk_aan, exporteer_gegevens, bestandsnaam):
    """
    Dit is een algemene functie welke kijkt welke leden in het ingeladen ledenbestand voldoen aan de logic check.
    Wanneer het betreffende lid voldoet dan worden de gegevens zoals deze in de lijst 'kolomen' staan opgeslagen in een
    nieuw excel bestand.
    De tekst in 'logic_check' en 'kolomen' dienen exact overeen te komen met de betreffende kolomen in het originele
    excel bestand.
    
    Voorbeeld gebruik:
    #export_gegevens('Vrouw', True,
    #                ['voornaam', 'tussenvoegsel', 'achternaam', 'straat', 'huisnummer', 'postcode', 'woonplaats'],
    #                'output\\vrouwen_leden.xlsx')

    #export_gegevens('lid status', 'erelid',
    #                ['voornaam', 'tussenvoegsel', 'achternaam', 'straat', 'huisnummer', 'postcode', 'woonplaats', 'geboortedatum'],
    #                'output\\ere_leden.xlsx')
    
    :param logic_check: Een string van de naam van de header waar de logic_check op word uitgevoerd.
    :param gegevens: Een array met de namen van de headers welke geexporteerd dienen te worden
    :param bestandsnaam: De naam van het te exporteren bestand
    :return:
    """
    empt_lists = []
    # array met lege lijsten maken
    for n in range(len(exporteer_gegevens)):
        empt_lists.append([])

    # gegevens aan de gemaakte array toevoegen in de betreffende lijsten
    for i in range(len(df)):
        if df[te_doorzoeken_kolom].iloc[i] == is_gelijk_aan:
            for j in range(len(exporteer_gegevens)):
                empt_lists[j].append(df[exporteer_gegevens[j]].iloc[i])

    df_angfo = pd.DataFrame(empt_lists[0], columns=[exporteer_gegevens[0]])

    # geheel omzetten naar een pandas dataframe
    for k in range(len(exporteer_gegevens)):
        df_angfo[exporteer_gegevens[k]] = pd.Series(empt_lists[k], index=df_angfo.index)

    df_angfo.to_excel(bestandsnaam, 'Sheet1')
    print('Het bestand is opgeslagen als: %s' % bestandsnaam)

In [89]:
def nieuw_ledenbestand():
    """
    Per row in df loop schrijven die door gehele df_a gaat om op een match te controleren.

    TODO

    Zoek voornaam van df_a in df, noteer indices in lijst1 van df waar dit voorkomt.
    Zoek tussenvoegsel van df_a in df, noteer indices in lijst2 van df waar dit voorkomt.
    Zoek achterneem van df_a, noteer indices in lijst3 van df waar dit voorkomt.

    Bevatten de drie lijsten allemaal een keer hetzelfde getal (index waarde van df)?
    Zo ja, dan is er een match.
    :return:
    """
    """
    df_a = pd.read_excel('origineel\\Angfo.xlsx')
    df_a_naam = pd.DataFrame()
    global df
    df = df.fillna('')

    # (len(df_a['achternaam'].str.contains(df['achternaam'][i], na=False)) == 0)

    #  Arrays met complete namen maken
    naam_df = []
    naam_df_a = []
    for i in range(len(df)):
        naam_df.append(str(df['voornaam'][i])+' '+str(df['tussenvoegsel'][i])+' '+str(df['achternaam'][i]))
    for i in range(len(df_a)):
        naam_df_a.append(str(df_a['voornaam'][i])+' '+str(df_a['tussenvoegsel'][i])+' '+str(df_a['achternaam'][i]))

    df_namen = pd.DataFrame(naam_df, columns=['naam'])
    df_a_namen = pd.DataFrame(naam_df_a, columns=['naam'])

    x = df_a_namen['naam'].str.contains(df_namen['naam'][0])
    print(x)
    """

nieuw_ledenbestand()

In [90]:
a = pd.read_excel('origineel\\Ledenbestand.xlsx')
b = pd.read_excel('origineel\\Angfo.xlsx')

# df kopie maken
a_origineel = a.copy()
b_origineel = b.copy()

# drop columns, alleen gehele naam is nodig voor de check 
# ook wegens het risico dat kolomen andere data kunnen bevatten in beide frames
to_drop_a = a.columns.difference(['voornaam', 'achternaam', 'tussenvoegsel'])
a.drop(to_drop_a, 1, inplace=True)  # drop alle columns behalve degene in to_drop

to_drop_b = b.columns.difference(['voornaam', 'achternaam', 'tussenvoegsel'])
b.drop(to_drop_b, 1, inplace=True)  # drop alle columns behalve degene in to_drop

In [91]:
a

           voornaam      achternaam tussenvoegsel
0        Jan Willem            Slob           NaN
1              Guus         Taminau           NaN
2               Jan       Gimmerink           NaN
3           Kenneth      Goodenough           NaN
4             Darcy  Da Costa Gomez           NaN
5            Junior          Haynes           NaN
6         Rembrandt     Donkersloot           NaN
7             Kevin      Ravensberg           NaN
8               Jan          Persie           van
9           Chantal             Kaa       van der
10           Jasper             Vos           NaN
11           Jeroen       Nijenhuis           NaN
12            Joost         Schoorl           NaN
13          Michael      Haverdings           NaN
14            Narin           Toguc           NaN
15           Dennis            Jong            de
16           Camiel         Groffen           NaN
17           Sander             Hak           NaN
18           Wesley          Wensen           van
19           Jorrit            Louw            de
20         Brigitte            Haas            de
21           Stefan             Kok           NaN
22             Rory          Zanger            de
23           Janika      Moergestel           van
24             Eric       Rijckaert           NaN
25             Eric        Heukelom           NaN
26         Jovianca          Weever           NaN
27           Maikel          Knoops           NaN
28            Arjan            Lock           NaN
29            Edwin        Overmars           NaN
..              ...             ...           ...
368             Pim           Hooff           van
369            Roel            Smit           NaN
370        Muhammed            Kara           NaN
371          Gerwin         Verkerk           NaN
372          Sietse        Hazeveld           NaN
373           Julia         Norbart           NaN
374            Igor      Hoogsteder           NaN
375        Cornelis        Geerligs           NaN
376            Daan         Verburg           NaN
377            Indy           Hoorn       van der
378           Manon        Warmedam           van
379          Julian            Ramp           NaN
380            Lars          Buikes           NaN
381         Ibrahim         Elwahil           NaN
382            Gijs          Aarsen           NaN
383          Berend            Valk       van der
384           Melle           Klein           NaN
385           Milou         Sengers           NaN
386           Joris        wijnands           NaN
387              Bo        Verduijn           NaN
388  Brian Dimitrie        van Wijk           NaN
389         Thijmen             Sas           NaN
390         Johanna       Bierbooms           NaN
391        matthijs       Geerlings           NaN
392            Bram           Lange           NaN
393         Shivani       Gadjiedas           NaN
394             Bas           Asten           van
395            Tijs            Gijn           van
396   Redactie NTvN               -           NaN
397           Manon      Warmerdaam           van

[398 rows x 3 columns]

In [92]:
b

          voornaam      achternaam tussenvoegsel
0       Jan Willem            Slob           NaN
1             Guus         Taminau           NaN
2              Jan       Gimmerink           NaN
3          Kenneth      Goodenough           NaN
4            Darcy  Da Costa Gomez           NaN
5           Junior          Haynes           NaN
6        Rembrandt     Donkersloot           NaN
7            Kevin      Ravensberg           NaN
8              Jan          Persie           van
9          Chantal             Kaa       van der
10          Jasper             Vos           NaN
11          Jeroen       Nijenhuis           NaN
12           Joost         Schoorl           NaN
13         Michael      Haverdings           NaN
14           Narin           Toguc           NaN
15          Dennis            Jong            de
16          Camiel         Groffen           NaN
17          Sander             Hak           NaN
18          Wesley          Wensen           van
19          Jorrit            Louw            de
20        Brigitte            Haas            de
21          Stefan             Kok           NaN
22            Rory          Zanger            de
23          Janika      Moergestel           van
24            Eric       Rijckaert           NaN
25            Eric        Heukelom           NaN
26        Jovianca          Weever           NaN
27          Maikel          Knoops           NaN
28           Arjan            Lock           NaN
29           Edwin        Overmars           NaN
..             ...             ...           ...
360           Roel            Smit           NaN
361       Muhammed            Kara           NaN
362         Gerwin         Verkerk           NaN
363         Sietse        Hazeveld           NaN
364          Julia         Norbart           NaN
365           Igor      Hoogsteder           NaN
366          Tanja            Post           NaN
367       Cornelis        Geerligs           NaN
368           Daan         Verburg           NaN
369           Indy           Hoorn       van der
370          Manon        Warmedam           van
371         Julian            Ramp           NaN
372           Lars          Buikes           NaN
373        Ibrahim         Elwahil           NaN
374           Gijs          Aarsen           NaN
375         Berend            Valk       van der
376          Melle           Klein           NaN
377          Milou         Sengers           NaN
378          Joris        wijnands           NaN
379             Bo        Verduijn           NaN
380          Brian        Dimitrie           NaN
381        Thijmen             Sas           NaN
382           Joke       Bierbooms           NaN
383       matthijs       Geerlings           NaN
384           Bram           Lange           NaN
385        Shivani       Gadjiedas           NaN
386            bas           Asten           van
387           Tijs            gijn           van
388  Redactie NTvN               -           NaN
389          Manon      Warmerdaam           van

[390 rows x 3 columns]

In [141]:
ij = []

# Skipt soms rows terwijl ze wel aan elkaar gelijk zijn? bvb: word niet true bij gelijk de eerste naam (Jan Willem Slob nan)

# Iterate over rows van a
for i in range(len(a)):
    # Iterate over rows van b
    for j in range(len(b)):
        # Controleer row in a overeenkomt met row uit b
        if a.iloc[i, 0] == b.iloc[j, 0] and a.iloc[i, 1] == b.iloc[j, 1] and a.iloc[i, 2] == b.iloc[j, 2]:
            #print(a.iloc[i,0],a.iloc[i,1],a.iloc[i,2], '-', b.iloc[j,0],b.iloc[j,1],b.iloc[j,2])
            ij.append(1) # De naam van a zit in b
            pass
        else:
            pass # Voeg toe aan c als wilt wel angfo ontvangen
    if 1 not in ij:
        print(i, j)
        print('Zit wel in a maar niet in b: ',a.iloc[i,0],a.iloc[i,1],a.iloc[i,2])
        # Voeg toe aan c als wilt geen angfo ontvangen
        
"""
TO DO:
Voeg ieder lid toe aan een nieuwe df (c) en geef aan of hij/zij wel/geen angfo wilt ontvangen (in een nieuwe kolom)
 
"""

0 389
Zit wel in a maar niet in b:  Jan Willem Slob nan
1 389
Zit wel in a maar niet in b:  Guus Taminau nan
2 389
Zit wel in a maar niet in b:  Jan Gimmerink nan
3 389
Zit wel in a maar niet in b:  Kenneth Goodenough nan
4 389
Zit wel in a maar niet in b:  Darcy Da Costa Gomez nan
5 389
Zit wel in a maar niet in b:  Junior Haynes nan
6 389
Zit wel in a maar niet in b:  Rembrandt Donkersloot nan
7 389
Zit wel in a maar niet in b:  Kevin Ravensberg nan

'\nTO DO:\nVoeg ieder lid toe aan een nieuwe df (c) en geef aan of hij/zij wel/geen angfo wilt ontvangen (in een nieuwe kolom)\n \n'

In [133]:
i = 0
j = 0
naam_a = a.iloc[i,0], a.iloc[i,1], a.iloc[i,2]
naam_b = b.iloc[j,0], b.iloc[j,1], b.iloc[j,2]

if naam_a == naam_b:
    print('true')
    
len(a)
len(b)

true

390

nan

In [68]:
if a.iloc[10,2] == b.iloc[10,2]:
    print('True')
else:
    print('False')

False

In [80]:
ij

[]